* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.boiteFn {
  height: 200px;
  width: 200px;
  background-color: red;
}

.text {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  height: 30px;
  font-size: 20px;
  font-weight: 900;
  /* Todo: Figure out how to vertically center this */
}

.boiteFn:hover .text {
  color: orange;
}
